page-transactions {
  .scroll-content {
    background-color: #f4f4f4;
  }
  .transactions p {
    text-align: center;
    color: gray;
    text-transform: uppercase;
  }
  .round-button {
    background: #73686e;
  }
  .round-button:hover {
    background: #f4f4f4 !important;
  }
  .round-button ion-icon {
    font-size: 4rem !important;
    color: #f4f4f4 !important;
  }
  .round-button:hover ion-icon {
    color: #73686e !important;
  }
  ion-card {
    border-radius: 10px !important;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.12) !important;
  }
  .transactions ion-col {
    padding: 2px !important;
  }
}
