<ion-header>
  <ion-navbar color="primary-dark">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Transactions</ion-title>
    <ion-buttons end>
      <button ion-button icon-only class="notify">
        <ion-icon name="md-notifications">
          <ion-badge color="danger" class="notifications-badge">0</ion-badge>
        </ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid class="transactions">
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-content>
            <div class="round-button" (click)="navigate('TransfersPage')">
              <ion-icon name="ios-send"></ion-icon>
            </div>
            <p>Send</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-card-content>
            <div class="round-button" (click)="navigate()">
              <ion-icon name="ios-download"></ion-icon>
            </div>
            <p>Withdraw</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-content>
            <div class="round-button" (click)="navigate()">
              <ion-icon name="ios-add-circle-outline"></ion-icon>
            </div>
            <p>Top-Up</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-card-content>
            <div class="round-button" (click)="navigate()">
              <ion-icon name="ios-timer-outline"></ion-icon>
            </div>
            <p>History</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-content>
            <div class="round-button" (click)="navigate()">
              <ion-icon name="ios-analytics-outline"></ion-icon>
            </div>
            <p>Analytics</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
