<ion-header>
  <expandable-header [scrollArea]="mycontent" headerHeight="130">
    <ion-grid>
      <ion-row class="center">
        <ion-col class="mod-avi">
          <button ion-button round outline icon-only color="light" (click)="modAvi()">
            <ion-icon name="md-image"></ion-icon>
          </button>
        </ion-col>
        <ion-col col-6 class="show-avi">
          <div>
            <ion-avatar [hidden]="!hasAvi" imageViewer="{{userAvi}}">
              <img src="{{userAvi}}" class="user-avi">
            </ion-avatar>
            <ion-icon [hidden]="hasAvi" class="default-avi" name="ios-contact"></ion-icon>
          </div>
        </ion-col>
        <ion-col class="mod-pin">
          <button ion-button round outline icon-only color="light" (click)="modPasscode()">
            <ion-icon name="md-key"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </expandable-header>
  <ion-navbar color="primary-dark">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>My Profile</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="triggerEdit()">
        <ion-icon name="ios-create"></ion-icon>
      </button>
      <!-- <button ion-button icon-only class="notify">
        <ion-icon name="md-notifications">
          <ion-badge color="danger" class="notifications-badge">0</ion-badge>
        </ion-icon>
      </button> -->
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content fullscreen #mycontent>
  <div padding class="lf-container">
    <ion-list>
      <form [formGroup]="editForm">
        <ion-item class="accu-input">
          <ion-icon name="ios-person-outline" item-start></ion-icon>
          <ion-input formControlName="firstname" type="text" placeholder="First Name"></ion-input>
        </ion-item>

        <ion-item class="accu-input">
          <ion-icon name="ios-person" item-start></ion-icon>
          <ion-input formControlName="middlename" type="text" placeholder="Middle Name"></ion-input>
        </ion-item>

        <ion-item class="accu-input">
          <ion-icon name="ios-people-outline" item-start></ion-icon>
          <ion-input formControlName="surname" type="text" placeholder="Surname"></ion-input>
        </ion-item>

        <ion-item class="accu-input">
          <ion-icon name="ios-at-outline" item-start></ion-icon>
          <ion-input formControlName="email" type="email" placeholder="Email Address"></ion-input>
        </ion-item>

        <ion-item class="accu-input">
          <ion-icon name="ios-calendar-outline" item-start></ion-icon>
          <ion-input formControlName="dob" type="text" placeholder="Date of Birth" ion-datepicker (ionChanged)="setDate($event);"></ion-input>
        </ion-item>

        <ion-item class="accu-input">
          <ion-icon name="ios-flag-outline" item-start></ion-icon>
          <ion-input formControlName="countryname" type="text" placeholder="Country" (click)="getCountry()"></ion-input>
        </ion-item>

        <ion-item class="accu-input">
          <ion-icon name="ios-phone-portrait-outline" item-start></ion-icon>
          <ion-input formControlName="phone" type="text" placeholder="Phone (Without Country Code)"></ion-input>
        </ion-item>

      </form>
    </ion-list>
    <button ion-button block color="primary" *ngIf="canEdit" (click)="save()">Save Details</button>
    <button ion-button block outline color="primary-dark" *ngIf="canConfirm" (click)="confirmOTP()">Re-Enter Activation PIN</button>
    <button ion-button block outline class="disabled" *ngIf="!canEdit && !canConfirm">Edit Disabled</button>
  </div>
</ion-content>
