page-my-sarraf {
  .scroll-content {
    padding: 0 !important;
    padding-top: 10px;
  }
  .default-avi {
    font-size: 8em;
  }
  .show-avi {
    width: 100%;
    text-align: center !important;
    display: flex;
    justify-content: center;
  }
  .show-avi ion-avatar {
    border-radius: 50%;
    overflow: hidden;
    width: 110px;
    height: 110px;
    box-shadow: 0px 0px 5px 1px rgba(66, 66, 66, .3);
  }
  .mod-avi,
  .mod-pin {
    color: color($colors, white);
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mod-avi {
    font-size: 1.2em !important;
  }
  ion-list {
    padding-top: 206px;
  }
  ion-item {
    background-color: rgba(153, 153, 153, 0.2) !important;
    box-shadow: inset 0 0 1px rgba(153, 153, 153, 0.4);
  }
  .accu-input ion-input {
    color: rgba(34, 34, 34, 1.0) !important;
    border-left: 1px solid rgba(34, 34, 34, .1) !important;
  }
  .lf-container ion-icon {
    color: map-get($colors, dark) !important;
  }
  .disabled {
    border: 2px solid color($colors, disabled) !important;
    color: color($colors, disabled);
  }
}
