<ion-header>
  <ion-navbar color="primary-dark">
    <ion-buttons left>
      <button ion-button icon-only (click)="viewCtrl.dismiss()" class="btn-back">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Confirm Transaction</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <p class="center">Enter the Transaction PIN sent to you via SMS and your Account PIN below to complete the transaction.</p>
  <ion-card>
    <ion-card-content>
      <ion-list no-lines>
        <form [formGroup]="cTransferForm">
          <ion-item class="p10-l">
            <ion-label>Enter Account PIN</ion-label>
          </ion-item>
          <ion-item class="accu-currency">
            <ion-input formControlName="accPIN" type="password" placeholder="Enter your account PIN"></ion-input>
          </ion-item>
          <ion-item class="p10-l">
            <ion-label>Enter Transaction PIN</ion-label>
          </ion-item>
          <ion-item class="accu-currency">
            <ion-input formControlName="txnPIN" type="text" placeholder="Enter transaction PIN"></ion-input>
          </ion-item>
        </form>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <div class="btn-transact">
    <button style="font-weight: bold;" ion-button block icon-left color="primary" (click)="finish()">
      <ion-icon style="font-weight: bold;" name="ios-checkmark-circle-outline"></ion-icon>
      Complete Transaction
    </button>
    <button ion-button block outline icon-left color="dark" (click)="cancel()">
      <ion-icon name="ios-close-circle-outline"></ion-icon>
      Cancel Transaction
    </button>
  </div>
</ion-content>
