page-transfers-confirmation {
  .accu-currency {
    margin: 8px 0 0 10px;
    background-color: rgba(153, 153, 153, 0.3) !important;
    box-shadow: inset 0 0 1px rgba(153, 153, 153, 0.5);
    font-size: 13px;
    padding-left: 0;
    width: 93%;
    border-radius: 3px;
    padding-left: 5px;
  }
  .accu-currency:last-child {
    border-bottom: none !important;
  }
  .with-search .item-inner {
    padding-right: 0 !important;
  }
  ion-label,
  ion-select {
    font-size: 14px !important;
    color: #242424 !important;
  }
  ion-label {
    margin: 13px 8px 0px 0 !important;
  }
  .p10-l {
    padding-left: 10px;
  }
  ion-card {
    border-radius: 10px !important;
    padding-bottom: 25px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.12) !important;
  }
  ion-card-content {
    padding: 5px !important;
  }
  .btn-transact {
    padding: 0 13px 0 12px;
  }
  .btn-transact button {
    margin: 20px 0px !important;
  }
  p {
    color: grey;
  }
}
