<ion-content padding>
  <ion-icon class="login-avi" name="ios-contact"></ion-icon>

  <div class="lf-container">
    <ion-list>
      <form [formGroup]="loginForm">
        <ion-item class="accu-input">
          <ion-icon name="ios-phone-portrait-outline" item-start></ion-icon>
          <ion-input formControlName="phone" type="text" placeholder="Phone"></ion-input>
        </ion-item>

        <ion-item class="accu-input">
          <ion-icon name="ios-log-in-outline" item-start></ion-icon>
          <ion-input formControlName="passcode" type="password" placeholder="Password" (keyup.enter)="signIn()"></ion-input>
        </ion-item>
      </form>
    </ion-list>
    <button ion-button full (click)="signIn()">SIGN IN</button>

    <div class="lower center">
      <p>
        <span>Forgot Password? </span>
        <span (click)="passReset()"> Click Here</span>
      </p>
      <p>OR</p>
      <p>
        <button ion-button block outline color="light" (click)="signUp()">Register An Account</button>
        <button ion-button block outline color="light" (click)="setPassword()">Enter Activation PIN</button>
      </p>
    </div>
  </div>
</ion-content>
