page-login {
  .scroll-content {
    background: linear-gradient(to bottom, #75415b 0%, #2d1f51 100%);
    text-align: center;
  }
  .login-avi {
    color: rgba(255, 255, 255, 0.80);
    margin-top: 5%;
    margin-bottom: 20px;
    font-size: 8em;
  }
  .lf-container {
    .accu-input:last-child ion-icon {
      font-size: 22px;
    }
  }
  .lower {
    z-index: 0;
    margin-top: 40px;
    padding: 0 4px 0 0;
  }
  .lower p {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.70);
  }
  .lower p span {
    text-decoration: underline
  }
  .lower p span:first-child {
    text-decoration: none;
    font-style: italic;
  }
  .lower p span:last-child {
    font-weight: bold;
  }
  .lower p button {
    text-transform: uppercase;
    font-weight: bold;
  }
  .lower p button span {
    font-style: normal !important;
  }
}
