<div style="margin-top: 60px;">
  <ion-card style="max-height: 410px; overflow: scroll;">
    <ion-card-header style="padding: 2px">
      <ion-toolbar>
        <ion-searchbar #mainSearchbar (ionInput)="filterBankBranches($event)"></ion-searchbar>
      </ion-toolbar>
    </ion-card-header>
    <ion-card-content>
      <ion-list scroll="true" *ngFor='let branch of bankBranchesFiltered'>
        <button ion-item (click)="selectBankBranch(branch.branchid, branch.branchname)">
          {{branch.branchname}}
        </button>
      </ion-list>
    </ion-card-content>
  </ion-card>
</div>
