<ion-header>

  <ion-navbar color="primary-dark">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Pay Bills</ion-title>
    <ion-buttons end>
      <button ion-button icon-only class="notify">
        <ion-icon name="md-notifications">
          <ion-badge color="danger" class="notifications-badge">0</ion-badge>
        </ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar no-border-top color="primary-dark">
    <ion-segment [(ngModel)]="type">
      <ion-segment-button value="favorites">
        My Bills
      </ion-segment-button>
      <ion-segment-button value="popular">
        Popular
      </ion-segment-button>
      <ion-segment-button value="all">
        All Bills
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content [ngSwitch]="type">
  <ion-list *ngSwitchCase="'favorites'">
    <ion-item>
      <ion-thumbnail item-start>
        <img src="assets/imgs/logo.png">
      </ion-thumbnail>
      <h2>Merchant Title</h2>
      <p>Description</p>
    </ion-item>
  </ion-list>
  <ion-list *ngSwitchCase="'popular'">
    <ion-item>
      <ion-thumbnail item-start>
        <img src="assets/imgs/logo.png">
      </ion-thumbnail>
      <h2>Merchant 2 Title</h2>
      <p>Description</p>
    </ion-item>
  </ion-list>
  <ion-list *ngSwitchCase="'all'">
    <ion-item>
      <ion-thumbnail item-start>
        <img src="assets/imgs/logo.png">
      </ion-thumbnail>
      <h2>Merchant 3 Title</h2>
      <p>Description</p>
    </ion-item>
  </ion-list>
</ion-content>
