<ion-content>
  <svg version="1.1" id="splash-logo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
    y="0px" viewBox="0 0 375 812" style="enable-background:new 0 0 375 812;" xml:space="preserve">
    <style type="text/css">
      .st0 {
        fill: #C1272D;
      }

      .st1 {
        fill: url(#innerS_1_);
      }

      .st2 {
        fill: url(#mainS_1_);
      }

      .st3 {
        fill: none;
      }

      .st4 {
        enable-background: new;
      }

    </style>
    <path id="rect" class="st0" d="M207.3,360.5h-45.5c-34,0-61.7-27.8-61.7-61.7v-45.5c0-34,27.8-61.7,61.7-61.7h45.5
 c34,0,61.7,27.8,61.7,61.7v45.6C269,332.7,241.2,360.5,207.3,360.5z" />
    <g id="S">

      <linearGradient id="innerS_1_" gradientUnits="userSpaceOnUse" x1="184.919" y1="784.5213" x2="184.919" y2="665.9259" gradientTransform="matrix(1 0 0 1 0 -466)">
        <stop offset="0.5124" style="stop-color:#EFEFEF" />
        <stop offset="1" style="stop-color:#FFFFFF" />
      </linearGradient>
      <path id="innerS" class="st1" d="M178.5,271.4c0,0,8.5-3.3,9.1-1.9c2.5,6.6,2.4,13.6,2.4,13.6c-0.2,14.1-5.4,23.3-15.9,29.1
   c-1,0.6-2.7,0.5-3.7,0c-12.7-6.9-18.6-21.1-14.6-34.8c3.8-13.1,17-22.6,30-21.8c15.1,1,26.8,11.3,29.1,25.6
   c0.8,4.8,0.7,4.9-4.1,4.9c-0.4,0-0.7,0.1-1.3,0c-2.9,0-3.9-0.4-4.3-3.5c-1.3-8.9-8.4-15.7-17-17c-8.7-1.4-17.3,2.9-21.6,10.8
   c-4.1,7.6-2.9,16.7,2.8,23.2c2,2.3,3.3,2.5,5.6,0.1C180.5,293.5,181,286,178.5,271.4z" />

      <linearGradient id="mainS_1_" gradientUnits="userSpaceOnUse" x1="183.5466" y1="784.5212" x2="183.5466" y2="665.9259" gradientTransform="matrix(1 0 0 1 0 -466)">
        <stop offset="0.5124" style="stop-color:#EFEFEF" />
        <stop offset="1" style="stop-color:#FFFFFF" />
      </linearGradient>
      <path id="mainS" class="st2" d="M175.7,250.9c-4-3.1-8-6.2-12.2-9.1c-0.9-0.6-2.8-0.6-3.7,0c-18,10.3-27,25.8-26.4,46.4
   c0.8,27.1,24.2,48.9,51.1,48.1c28.1-0.9,50-23.8,49.2-51.3c-0.6-20.9-13.2-38.9-32.8-46c-5.3-1.9-11.3-2.4-16.9-3.3
   c-4.7-0.8-8.2-4.5-8.2-9.1c-0.1-4.2,3-8.3,7.1-9.3c4.6-1.1,9.6,1.1,10.9,5.6c0.9,3.5,2.6,3.6,5.6,3.7c1.1,0,1.6,0.1,2.4,0
   c2.4-0.2,2.6-0.8,2.4-2.8c-1-9.7-10.9-17.6-20.7-16.4c-10.5,1.3-17.6,9.6-17.2,19.9c0.4,10,8.4,17.6,19.2,18.1
   c18.6,0.9,34.3,14.3,38,32.5s-5.6,36.7-22.4,44.7c-16.7,8-36.6,3.7-48.6-10.6c-15-17.9-11.7-45.3,7.3-58.7c0.7-0.6,2.2-0.7,3-0.5
   c0,0,2.7,0.8,6,3.4c0,0,7-2.3,8.1-3.3C177.4,252.3,175.7,250.9,175.7,250.9z" />
    </g>
    <rect x="88.2" y="419.5" class="st3" width="189.2" height="69.6" />
    <g id="surraf" class="st4">
      <path class="st0" d="M137.8,394.4c-0.2,0.3-0.4,0.5-0.7,0.5c-0.2,0-0.5-0.2-0.9-0.5c-0.4-0.3-0.9-0.7-1.5-1.1s-1.4-0.8-2.3-1.1
   c-0.9-0.3-2.1-0.5-3.4-0.5s-2.6,0.2-3.6,0.6c-1,0.4-1.9,0.9-2.6,1.6c-0.7,0.7-1.2,1.4-1.6,2.3c-0.4,0.9-0.5,1.8-0.5,2.8
   c0,1.3,0.3,2.3,0.8,3.2c0.5,0.8,1.3,1.5,2.1,2.1s1.9,1.1,3,1.5c1.1,0.4,2.3,0.8,3.5,1.2c1.2,0.4,2.3,0.8,3.5,1.3
   c1.1,0.5,2.1,1.1,3,1.8c0.9,0.7,1.6,1.6,2.1,2.6c0.5,1,0.8,2.3,0.8,3.9c0,1.6-0.3,3.1-0.8,4.4c-0.5,1.4-1.3,2.6-2.3,3.6
   c-1,1-2.3,1.8-3.8,2.4s-3.2,0.9-5.1,0.9c-2.5,0-4.6-0.4-6.4-1.3c-1.8-0.9-3.3-2.1-4.7-3.6l0.7-1.2c0.2-0.3,0.5-0.4,0.7-0.4
   c0.2,0,0.4,0.1,0.6,0.3c0.2,0.2,0.5,0.5,0.9,0.8c0.4,0.3,0.8,0.6,1.3,1c0.5,0.4,1.1,0.7,1.7,1c0.7,0.3,1.4,0.6,2.3,0.8
   s1.8,0.3,2.9,0.3c1.5,0,2.8-0.2,4-0.7c1.2-0.5,2.2-1.1,3-1.8c0.8-0.8,1.4-1.7,1.8-2.8c0.4-1.1,0.6-2.2,0.6-3.4
   c0-1.3-0.3-2.4-0.8-3.3c-0.5-0.9-1.3-1.6-2.1-2.1c-0.9-0.6-1.9-1.1-3-1.4c-1.1-0.4-2.3-0.8-3.5-1.1s-2.3-0.8-3.5-1.2
   c-1.1-0.5-2.1-1-3-1.8c-0.9-0.7-1.6-1.6-2.1-2.7c-0.5-1.1-0.8-2.4-0.8-4c0-1.3,0.2-2.5,0.7-3.6s1.2-2.2,2.1-3.1
   c0.9-0.9,2.1-1.6,3.4-2.1s2.9-0.8,4.6-0.8c1.9,0,3.7,0.3,5.2,0.9c1.5,0.6,3,1.6,4.2,2.8L137.8,394.4z" />
      <path class="st0" d="M166.6,401v26.4h-1.4c-0.4,0-0.7-0.2-0.8-0.7l-0.2-3.9c-1.2,1.5-2.6,2.7-4.2,3.7c-1.6,0.9-3.4,1.4-5.3,1.4
   c-1.5,0-2.7-0.2-3.8-0.7c-1.1-0.5-2-1.1-2.7-2c-0.7-0.9-1.3-1.9-1.6-3.1c-0.4-1.2-0.6-2.6-0.6-4.1V401h2.5v16.9
   c0,2.5,0.6,4.4,1.7,5.8c1.1,1.4,2.9,2.1,5.2,2.1c1.7,0,3.3-0.4,4.8-1.3c1.5-0.9,2.8-2.1,4-3.6V401H166.6z" />
      <path class="st0" d="M177.7,407.3c0.4-1.1,0.9-2,1.4-2.9c0.5-0.8,1.1-1.5,1.8-2.1s1.4-1,2.3-1.3c0.8-0.3,1.8-0.5,2.8-0.5
   c0.5,0,1.1,0,1.6,0.1c0.5,0.1,1,0.3,1.4,0.5l-0.2,1.7c-0.1,0.3-0.3,0.4-0.5,0.4c-0.2,0-0.5-0.1-1-0.2c-0.4-0.1-1-0.2-1.7-0.2
   c-1,0-1.9,0.2-2.7,0.5c-0.8,0.3-1.5,0.8-2.1,1.4c-0.6,0.6-1.2,1.4-1.6,2.3c-0.5,0.9-0.9,2-1.3,3.1v17.1h-2.5V401h1.4
   c0.3,0,0.5,0.1,0.6,0.2c0.1,0.1,0.2,0.3,0.2,0.6L177.7,407.3z" />
      <path class="st0" d="M196.4,407.3c0.4-1.1,0.9-2,1.4-2.9c0.5-0.8,1.1-1.5,1.8-2.1c0.7-0.6,1.4-1,2.3-1.3c0.8-0.3,1.8-0.5,2.8-0.5
   c0.5,0,1.1,0,1.6,0.1c0.5,0.1,1,0.3,1.4,0.5l-0.2,1.7c-0.1,0.3-0.3,0.4-0.5,0.4c-0.2,0-0.5-0.1-1-0.2c-0.4-0.1-1-0.2-1.7-0.2
   c-1,0-1.9,0.2-2.7,0.5c-0.8,0.3-1.5,0.8-2.1,1.4c-0.6,0.6-1.2,1.4-1.6,2.3s-0.9,2-1.3,3.1v17.1H194V401h1.4c0.3,0,0.5,0.1,0.6,0.2
   c0.1,0.1,0.2,0.3,0.2,0.6L196.4,407.3z" />
      <path class="st0" d="M211.5,404.7c1.4-1.4,2.8-2.4,4.3-3.1s3.2-1.1,5.2-1.1c1.4,0,2.6,0.2,3.7,0.7c1.1,0.5,1.9,1.1,2.6,1.9
   c0.7,0.8,1.2,1.9,1.6,3s0.5,2.5,0.5,4v17.2h-1c-0.5,0-0.9-0.2-1-0.7l-0.4-3.4c-0.7,0.7-1.4,1.3-2.2,1.9c-0.7,0.6-1.5,1-2.2,1.4
   s-1.6,0.7-2.5,0.9c-0.9,0.2-1.9,0.3-3,0.3c-0.9,0-1.8-0.1-2.6-0.4c-0.8-0.3-1.6-0.7-2.3-1.2c-0.7-0.5-1.2-1.3-1.6-2.1
   c-0.4-0.9-0.6-1.9-0.6-3.1c0-1.1,0.3-2.1,1-3.1c0.6-1,1.6-1.8,3-2.5c1.4-0.7,3.1-1.3,5.2-1.7s4.7-0.7,7.7-0.7v-2.8
   c0-2.4-0.5-4.3-1.6-5.6c-1.1-1.3-2.6-2-4.7-2c-1.3,0-2.4,0.2-3.2,0.5c-0.9,0.4-1.6,0.7-2.3,1.2c-0.6,0.4-1.1,0.8-1.5,1.2
   s-0.7,0.5-1,0.5c-0.2,0-0.4,0-0.5-0.1c-0.1-0.1-0.2-0.2-0.3-0.3L211.5,404.7z M227,414.6c-2.5,0.1-4.7,0.3-6.5,0.6
   c-1.8,0.3-3.3,0.7-4.5,1.3c-1.2,0.5-2,1.2-2.6,1.9c-0.6,0.7-0.8,1.6-0.8,2.5c0,0.9,0.1,1.6,0.4,2.3c0.3,0.6,0.7,1.2,1.2,1.6
   c0.5,0.4,1,0.7,1.7,0.9c0.6,0.2,1.3,0.3,2,0.3c1,0,2-0.1,2.8-0.3c0.9-0.2,1.7-0.5,2.4-0.9c0.7-0.4,1.4-0.9,2.1-1.4
   c0.6-0.5,1.3-1.1,1.9-1.8V414.6z" />
      <path class="st0" d="M239.1,427.3v-23.6l-3.7-0.2c-0.5-0.1-0.7-0.3-0.7-0.7v-1h4.5v-3.3c0-1.5,0.2-2.8,0.6-4s0.9-2.1,1.6-2.8
   c0.7-0.8,1.6-1.3,2.5-1.7c1-0.4,2.1-0.6,3.3-0.6c0.5,0,1.1,0,1.7,0.1c0.6,0.1,1.1,0.2,1.5,0.4l-0.1,1.2c0,0.2-0.1,0.3-0.2,0.3
   c-0.1,0-0.3,0.1-0.5,0.1c-0.2,0-0.5,0-0.8-0.1c-0.3,0-0.7-0.1-1.2-0.1c-0.9,0-1.7,0.1-2.4,0.4c-0.7,0.3-1.4,0.7-1.9,1.2
   c-0.5,0.6-0.9,1.3-1.2,2.2c-0.3,0.9-0.4,2-0.4,3.4v3.3h8.6v1.9h-8.5v23.7H239.1z" />
    </g>
  </svg>
</ion-content>
