<div style="margin-top: 60px;">
  <ion-card style="max-height: 410px; overflow: scroll;">
    <ion-card-header style="padding: 2px">
      <ion-toolbar>
        <ion-searchbar #mainSearchbar (ionInput)="filterCountries($event)"></ion-searchbar>
      </ion-toolbar>
    </ion-card-header>
    <ion-card-content>
      <ion-list scroll="true" *ngFor='let country of countriesFiltered'>
        <button ion-item (click)="selectCountry(country.countryid, country.countrycode, country.countryname)">
          {{country.countrycode}} - {{country.countryname}}
        </button>
      </ion-list>
    </ion-card-content>
  </ion-card>
</div>
