page-home {
  .scroll-content {
    background-color: #f4f4f4;
  }
  .circle-image {
    height: 20vw;
    width: 20vw;
    box-shadow: inset 0 0 1px rgba(153, 153, 153, 0.5);
    border-radius: 50%;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(153, 153, 153, 0.3) !important;
    text-align: center;
  }
  .circle-image {
    ion-icon {
      margin-top: 15%;
      font-size: 4.5rem;
      color: rgba(53, 56, 57, .55) !important;
    }
  }
  .summary h3 {
    font-weight: bold;
    margin: 5px 0 5px;
  }
  .summary p {
    font-size: 1.8rem;
    margin: 10px 0 0;
  }
  ion-card {
    border-radius: 10px !important;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.12) !important;
  }
  ion-card-header {
    padding: 10px !important;
    font-size: 1.4rem;
  }
  .accu-currency {
    margin: 0 0 0 10px;
    background-color: rgba(153, 153, 153, 0.3) !important;
    box-shadow: inset 0 0 1px rgba(153, 153, 153, 0.5);
    font-size: 13px;
    padding-left: 0;
    width: 93%;
    border-radius: 3px;
  }
  .accu-currency:last-child {
    border-bottom: none !important;
  }
  ion-label {
    font-size: 14px !important;
  }
  .btn-calculate {
    padding: 0 10px 0;
    margin: 15px 0;
  }
}
