<ion-header>
  <ion-navbar color="primary-dark">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Surraf</ion-title>
    <ion-buttons end>
      <button ion-button icon-only class="notify">
        <ion-icon name="md-notifications">
          <ion-badge color="danger" class="notifications-badge">0</ion-badge>
        </ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content class="no-padding">
      <ion-grid>
        <ion-row class="summary">
          <ion-col col-8>
            <h3>Default Account</h3>
            <p>{{currDefault}} {{amtDefault}}</p>
          </ion-col>
          <ion-col col-4>
            <div class="circle-image" item-right>
              <ion-icon name="md-briefcase"></ion-icon>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      Rate Calculator
    </ion-card-header>
    <ion-card-content class="no-padding">
      <ion-list>
        <form [formGroup]="fxForm">
          <ion-item style="padding-left:10px">
            <ion-label>Select Base Currency</ion-label>
            <ion-select formControlName="sendCurr">
              <ion-option value="KES">KES</ion-option>
              <ion-option value="USD">USD</ion-option>
              <ion-option value="GBP">GBP</ion-option>
              <ion-option value="EUR">EUR</ion-option>
            </ion-select>
          </ion-item>
          <ion-item class="accu-currency">
            <ion-input type="text" formControlName="sendAmt" placeholder="Enter amount to send"></ion-input>
          </ion-item>
          <ion-item style="padding-left:10px">
            <ion-label>Select Dest. Currency</ion-label>
            <ion-select formControlName="recCurr">
              <ion-option value="KES">KES</ion-option>
              <ion-option value="USD">USD</ion-option>
              <ion-option value="GBP">GBP</ion-option>
              <ion-option value="EUR">EUR</ion-option>
            </ion-select>
          </ion-item>
          <ion-item class="accu-currency">
            <ion-input type="text" formControlName="recAmt" placeholder="Amount to be received" disabled></ion-input>
          </ion-item>
        </form>
      </ion-list>
      <div class="btn-calculate">
        <button ion-button block outline color="primary" (click)="calcFx()">Calculate</button>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card class="quicks">
    <ion-card-header>
      Quick Links
    </ion-card-header>
    <ion-card-content class="no-padding">
      <ion-grid padding>
        <ion-row class="center">
          <ion-col col-4>
            <div class="round-button" (click)="quickLink('send')">
              <ion-icon style="font-size:3em;" name="ios-send"></ion-icon>
            </div>
            <p>Send</p>
          </ion-col>
          <ion-col col-4>
            <div class="round-button" (click)="quickLink('withdraw')">
              <ion-icon name="ios-download"></ion-icon>
            </div>
            <p>Withdraw</p>
          </ion-col>
          <ion-col col-4>
            <div class="round-button" (click)="quickLink('topup')">
              <ion-icon name="ios-add-circle"></ion-icon>
            </div>
            <p>Top Up</p>
          </ion-col>
        </ion-row>
        <ion-row class="center">
          <ion-col col-4>
            <div class="round-button" (click)="quickLink('paybill')">
              <ion-icon name="ios-pricetags"></ion-icon>
            </div>
            <p>Pay Bill</p>
          </ion-col>
          <ion-col col-4>
            <div class="round-button" (click)="quickLink('history')">
              <ion-icon name="ios-timer"></ion-icon>
            </div>
            <p>History</p>
          </ion-col>
          <ion-col col-4>
            <div class="round-button" (click)="quickLink('accounts')">
              <ion-icon name="ios-briefcase"></ion-icon>
            </div>
            <p>Accounts</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
