page-sign-up {
  .scroll-content {
    background: linear-gradient(to bottom, #75415b 0%, #2d1f51 100%);
  }
  .page-title {
    color: white;
  }
  ion-list {
    margin: 0 !important;
  }
  div.date-picker {
    height: 100% !important;
  }
  .lf-container .accu-input {
    background-color: rgba(255, 255, 255, 0.8);
  }
  .accu-input ion-input {
    color: #3B3C36 !important; //background-color: #7300a5; 
    border-left: 1px solid rgba(53, 56, 57, 0.1) !important;
  }
  .accu-input ion-icon {
    color: rgba(53, 56, 57, .75) !important;
  }
  .tnc {
    background-color: transparent;
    padding-left: 0;
  }
  .tnc ion-checkbox.checkbox.checkbox-md {
    margin: 0 9px 0 0;
  }
  .tnc ion-checkbox div.checkbox-icon.checkbox-checked {
    border-color: color($colors, regbar);
    background-color: color($colors, light);
  }
  .tnc ion-checkbox div.checkbox-icon.checkbox-checked div.checkbox-inner {
    border-color: color($colors, secondary);
  }
  .tnc button {
    padding: 0;
    font-weight: 100;
    margin: 0;
  }
  .tnc .item-inner .input-wrapper ion-label {
    margin: 0;
  }
  .tnc ion-label,
  .terms-modal {
    font-size: 14px;
    color: color($colors, light);
  }
  .terms-modal {
    margin: 0;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer
  }
}
