<ion-header>
  <ion-navbar color="regbar">
    <ion-buttons left>
      <button ion-button icon-only (click)="viewCtrl.dismiss()" class="btn-back">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      <span class="page-title">New Account</span>
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <div class="lf-container m-top0">
    <ion-list>
      <form [formGroup]="regForm">
        <ion-item class="accu-input">
          <ion-icon name="ios-person-outline" item-start></ion-icon>
          <ion-input formControlName="firstname" type="text" placeholder="First Name"></ion-input>
        </ion-item>

        <ion-item class="accu-input">
          <ion-icon name="ios-person" item-start></ion-icon>
          <ion-input formControlName="middlename" type="text" placeholder="Middle Name"></ion-input>
        </ion-item>

        <ion-item class="accu-input">
          <ion-icon name="ios-people-outline" item-start></ion-icon>
          <ion-input formControlName="surname" type="text" placeholder="Surname"></ion-input>
        </ion-item>

        <ion-item class="accu-input">
          <ion-icon name="ios-at-outline" item-start></ion-icon>
          <ion-input formControlName="email" type="email" placeholder="Email Address"></ion-input>
        </ion-item>

        <ion-item class="accu-input">
          <ion-icon name="ios-calendar-outline" item-start></ion-icon>
          <ion-input formControlName="dob" type="text" placeholder="Date of Birth" disabled ion-datepicker (ionChanged)="setDate($event)"></ion-input>
        </ion-item>

        <ion-item class="accu-input">
          <ion-icon name="ios-finger-print-outline" item-start></ion-icon>
          <ion-input formControlName="idpp" type="text" placeholder="ID/Passport No."></ion-input>
        </ion-item>

        <ion-item class="accu-input">
          <ion-icon name="ios-flag-outline" item-start></ion-icon>
          <ion-input formControlName="countryname" type="text" placeholder="Country" disabled (click)="getCountry()"></ion-input>
        </ion-item>

        <ion-item class="accu-input">
          <ion-icon name="ios-phone-portrait-outline" item-start></ion-icon>
          <ion-input formControlName="phone" type="text" placeholder="Phone (Without Country Code)"></ion-input>
        </ion-item>

        <ion-item class="accu-input m-bottom0">
          <ion-icon name="ios-cash-outline" item-start></ion-icon>
          <ion-label style="font-size: 13px; margin-left: 8px;">Default Currency</ion-label>
          <ion-select formControlName="currency">
            <ion-option value="KES">KES</ion-option>
            <ion-option value="USD">USD</ion-option>
            <ion-option value="GBP">GBP</ion-option>
            <ion-option value="EUR">EUR</ion-option>
          </ion-select>
        </ion-item>

        <ion-item class="tnc center">
          <ion-label>I accept the Sarraf platform's</ion-label>
          <ion-checkbox formControlName="terms" checked="false"></ion-checkbox>
        </ion-item>
        <p class="terms-modal center" (click)="openTnC()">Terms and Conditions</p>
      </form>
    </ion-list>
    <button ion-button block outline color="light" (click)="signUp()">Register</button>
  </div>
</ion-content>
