page-accounts-new {
  ion-list ion-item.select-margin-top {
    margin-top: 20px;
  }
  .btn-add {
    padding-top: 20px;
    text-transform: uppercase;
    font-weight: bold !important;
  }
  .grid,
  .col {
    padding: 0 !important;
  }
  .btn-only-col {
    display: flex;
    align-items: flex-end;
  }
  .col-btn {
    margin-bottom: 2px;
    margin-left: 2px;
    font-size: 1.3rem;
    padding: 5px;
  }
}
