<ion-header>
  <ion-navbar color="primary-dark">
    <ion-buttons left>
      <button ion-button icon-only (click)="viewCtrl.dismiss()" class="btn-back">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>New Account</ion-title>
    <ion-buttons end>
      <button ion-button icon-only class="notify">
        <ion-icon name="md-notifications">
          <ion-badge color="danger" class="notifications-badge">0</ion-badge>
        </ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list inset>
    <form [formGroup]="accForm">
      <ion-item class="no-padding">
        <ion-label>Account Type</ion-label>
        <ion-select formControlName="type" [(ngModel)]="ctype" (ionChange)="setType(ctype)">
          <ion-option value="1">Bank</ion-option>
          <ion-option value="2">Telco</ion-option>
          <ion-option value="3">Surraf</ion-option>
          <ion-option value="4">Cards</ion-option>
          <ion-option value="5">Paypal</ion-option>
        </ion-select>
      </ion-item>

      <ion-grid *ngIf="isBank">
        <ion-row>
          <ion-col col-9>
            <ion-item>
              <ion-label floating>Bank</ion-label>
              <ion-input formControlName="bankname" type="text"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col col-3 class="btn-only-col">
            <button ion-button block class="col-btn" (click)="getBank()">Search</button>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid *ngIf="isBankSelected">
        <ion-row>
          <ion-col col-9>
            <ion-item>
              <ion-label floating>Bank Branch</ion-label>
              <ion-input formControlName="branchname" type="text"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col col-3 class="btn-only-col">
            <button ion-button block class="col-btn" (click)="getBranch()">Search</button>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid *ngIf="isTelco">
        <ion-row>
          <ion-col col-9>
            <ion-item>
              <ion-label floating>Telco Name</ion-label>
              <ion-input formControlName="telconame" type="text"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col col-3 class="btn-only-col">
            <button ion-button block class="col-btn" (click)="getTelco()">Search</button>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-item class="no-padding select-margin-top">
        <ion-label>Account Currency</ion-label>
        <ion-select formControlName="currency">
          <ion-option value="KES">KES</ion-option>
          <ion-option value="USD">USD</ion-option>
          <ion-option value="GBP">GBP</ion-option>
          <ion-option value="EUR">EUR</ion-option>
        </ion-select>
      </ion-item>

      <ion-item *ngIf="isBank">
        <ion-label floating>Account Number</ion-label>
        <ion-input formControlName="accnumber" type="text"></ion-input>
      </ion-item>

      <ion-item *ngIf="isTelco">
        <ion-label floating>Phone Number</ion-label>
        <ion-input formControlName="phonenumber" type="text"></ion-input>
      </ion-item>

      <ion-item *ngIf="isPaypal">
        <ion-label floating>Paypal Email</ion-label>
        <ion-input formControlName="ppemail" type="text"></ion-input>
      </ion-item>

      <div [hidden]="!isCard">
        <ion-item>
          <ion-label floating>Number</ion-label>
          <ion-input formControlName="cardnumber" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>CVC</ion-label>
          <ion-input formControlName="cvc" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Expiry</ion-label>
          <ion-input formControlName="cardexpiry" type="text" disabled ion-datepicker (ionChanged)="setDate($event)"></ion-input>
        </ion-item>
      </div>

      <ion-item>
        <ion-label floating>Account Name</ion-label>
        <ion-input formControlName="name" type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Account PIN</ion-label>
        <ion-input formControlName="pin" type="password"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Confirm PIN</ion-label>
        <ion-input formControlName="cpin" type="password"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Account Description</ion-label>
        <ion-input formControlName="desc" type="text"></ion-input>
      </ion-item>
      <div class="btn-add">
        <button ion-button block outline color="dark" (click)="saveAccount()">Create Account</button>
      </div>
    </form>
  </ion-list>
</ion-content>
