<div style="margin-top: 60px;">
  <ion-card style="max-height: 410px; overflow: scroll;">
    <ion-card-header style="padding: 2px">
      <ion-toolbar>
        <ion-searchbar #mainSearchbar (ionInput)="filterAccounts($event)"></ion-searchbar>
      </ion-toolbar>
    </ion-card-header>
    <ion-card-content>
      <ion-list scroll="true" *ngFor='let acc of accountsFiltered'>
        <button ion-item (click)="selectAccount(acc.accountID, acc.accountName, acc.accountCurrencyID)">
          {{acc.accountCurrencyID}} - {{acc.accountName}}
        </button>
      </ion-list>
    </ion-card-content>
  </ion-card>
</div>
