<div style="margin-top: 60px;">
  <ion-card style="max-height: 410px; overflow: scroll;">
    <ion-card-header style="padding: 2px">
      <ion-toolbar>
        <ion-searchbar #mainSearchbar (ionInput)="filterBanks($event)"></ion-searchbar>
      </ion-toolbar>
    </ion-card-header>
    <ion-card-content>
      <ion-list scroll="true" *ngFor='let bank of banksFiltered'>
        <button ion-item (click)="selectBank(bank.bankid, bank.bankname)">
          {{bank.bankname}}
        </button>
      </ion-list>
    </ion-card-content>
  </ion-card>
</div>
