<ion-header>
  <ion-navbar color="primary-dark">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>My Accounts</ion-title>
    <ion-buttons end>
      <button ion-button icon-only class="notify">
        <ion-icon name="md-notifications">
          <ion-badge color="danger" class="notifications-badge">0</ion-badge>
        </ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list no-lines class="no-padding">
    <ion-item class="no-padding" *ngFor="let account of accounts">
      <ion-card (click)="editAccount(account)">
        <ion-card-content class="no-padding">
          <ion-grid>
            <ion-row class="summary">
              <ion-col col-8>
                <h3>{{account.Name}}</h3>
                <p>{{account.Type}}</p>
                <p>{{account.AmountAvailable}}</p>
              </ion-col>
              <ion-col col-4 class="center">
                <div class="circle-image" item-right>
                  <p>{{account.Currency}}</p>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>
  <ion-fab right bottom>
    <button ion-fab icon-only (click)="addAccount()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
