page-accounts {
  .scroll-content {
    background-color: #f4f4f4;
  }
  ion-item {
    background: transparent !important;
  }
  .item-inner {
    padding-right: 0 !important;
  }
  ion-col {
    text-transform: capitalize !important;
  }
  ion-label {
    margin: 0 !important;
  }
  ion-card {
    border-radius: 10px !important;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.12) !important;
  }
  ion-card:first-child {
    margin-top: 10px !important;
  }
  ion-card {
    margin: 5px 10px !important;
  }
  .circle-image {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 !important;
    height: 18vw;
    width: 18vw;
    border: 2px solid rgba(153, 153, 153, 0.5) !important;
    border-radius: 50%;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(153, 153, 153, 0.3) !important;
    text-align: center;
  }
  .circle-image p {
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 35%;
    font-size: 16px;
  }
}
