@import url('https://fonts.googleapis.com/css?family=Montserrat');
ion-app,
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
button {
  font-family: 'Montserrat' !important;
  color: rgba(53, 56, 57, 1);
}

.sidenav {
  font-weight: bolder;
}

.sidenav-avi {
  height: 100% !important;
  text-align: center;
  position: relative;
}

.sidenav-avi img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10%;
}

.user-avi {
  display: inline-block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.default-avi {
  color: color($colors, light);
  margin: 5%;
  font-size: 6em;
}

.username {
  padding: 2px 0 0 5px;
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 2px;
  color: color($colors, light);
}

.edit-profile,
.account {
  color: color($colors, light);
  font-style: italic;
  margin: 0;
  font-size: 12px;
  padding-left: 3px
}

.edit-profile {
  margin-top: 10px;
  font-weight: bold;
  text-decoration: underline;
}

.sidenav-active {
  background-color: color($colors, primary-dark) !important;
  color: white !important;
}

.sidenav-active ion-icon {
  color: color($colors, light) !important;
}

ion-buttons button[icon-only].btn-back {
  margin: 0 6px;
  min-width: 36px;
  color: white;
}

.d_none {
  display: none;
}

.m-top0 {
  margin-top: 0 !important;
}

.m-bottom0 {
  margin-bottom: 0 !important;
}

.no-padding {
  padding: 0 !important;
}

.modal-wrapper {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.center {
  text-align: center !important;
}

.lf-container {
  .accu-input {
    padding-left: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.3);
  }
  .item-inner {
    margin-left: 0 !important;
    border-bottom: none !important;
  }
  .input-has-focus .item-inner {
    box-shadow: none !important;
  }
  ion-item.accu-input.item.item-block.item-md.item-input:last-child {
    border-bottom: none !important;
  }
  ion-item.accu-input.item.item-block.item-md.item-input.input-has-focus {
    box-shadow: none !important;
  }
  ion-item.accu-input.item.item-block.item-md.item-input.ng-invalid.ng-dirty {
    box-shadow: inset 0 -2px 0 0 #f53d3d
  }
  .accu-input ion-icon {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    color: rgba(255, 255, 255, 0.75);
  }
  .accu-input ion-input {
    font-size: 13px;
    color: white;
    border-left: 1px solid rgba(255, 255, 255, 0.25);
  }
}

.lf-container button {
  margin-top: 20px;
  font-weight: bold;
  padding: 20px 0;
  border-radius: 5px;
}

.page-title {
  font-weight: bold;
}

.notify,
.delete {
  font-weight: bold;
  margin: auto 20px 0 0;
}

.notifications-badge {
  position: absolute;
  top: -3px;
  right: -10px;
}

ionic2-datepicker {
  .datepicker-header {
    background-color: map-get($colors, primary-dark) !important;
  }
  .weekday-header {
    background-color: #7300a5 !important;
  }
  button {
    background-color: map-get($colors, primary-dark) !important;
  }
  .datepicker-selected {
    background-color: #ccc !important;
  }
  .datepicker-mark {
    background-color: #bdbdbd !important;
  }
  .datepicker-current {
    color: #3d3f40 !important;
    font-weight: bold;
  }
  select {
    padding: 10px 5px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
}

.quicks,
.transactions {
  ion-col {
    padding: 4px !important;
  }
  .round-button {
    margin: 10%;
    width: 80%;
    height: 0;
    padding-bottom: 80%;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 2px #414141;
  }
  .round-button:hover {
    background: rgba(153, 153, 153, 0.3);
  }
  .round-button:hover ion-icon {
    color: color($colors, secondary);
  }
  .round-button ion-icon {
    width: 100%;
    font-size: 2.2em;
    padding-top: 50%;
    margin-top: -0.5em;
    text-align: center;
    color: rgba(53, 56, 57, 0.75);
  }
  p {
    color: #333333;
    margin-top: 8px;
  }
}
