<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar transparent style="background: url('assets/imgs/nav-bg.jpg') no-repeat; min-height:125px">
      <ion-grid class="nav-grid">
        <ion-row>
          <ion-col>
            <ion-avatar *ngIf="hasAvi" item-right imageViewer="{{userAvi}}" class="user-avi sidenav-avi">
              <img src="{{userAvi}}">
            </ion-avatar>
            <ion-icon *ngIf="!hasAvi" class="default-avi" name="ios-contact"></ion-icon>
          </ion-col>
          <ion-col col-8>
            <p class="username">{{userNames}}</p>
            <p class="account">Personal Account</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-header>

  <ion-content class="sidenav">
    <ion-list class="nav-list">
      <button class="sideitem" menuClose ion-item no-lines *ngFor="let p of pages" (click)="openPage(p)" [class.sidenav-active]="checkActive(p)">
        <ion-icon class="nav-icon" name="{{p.icon}}" item-start></ion-icon>
        {{p.title}}
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
