<ion-content>
  <ion-slides pager (ionSlideDidChange)="slideChanged()">
    <ion-slide>
      <ion-grid>
        <ion-row>
          <ion-col>
            <lottie-animation-view [options]="transfer"></lottie-animation-view>
          </ion-col>
        </ion-row>
        <ion-row class="info">
          <ion-col>
            <div>
              <h2>Transfer Money</h2>
              <p>Whether bank, telco, agent or cross-platform money transfer, you can do it all with our intuitive interface.</p>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide>
      <ion-grid>
        <ion-row>
          <ion-col>
            <lottie-animation-view [options]="pay"></lottie-animation-view>
          </ion-col>
        </ion-row>
        <ion-row class="info">
          <ion-col>
            <div>
              <h2>Pay your bills</h2>
              <p>Conveniently sort out your utility fees at the press of a button.</p>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide>
      <ion-grid>
        <ion-row>
          <ion-col>
            <lottie-animation-view [options]="withdraw"></lottie-animation-view>
          </ion-col>
        </ion-row>
        <ion-row class="info">
          <ion-col>
            <div>
              <h2>Withdraw</h2>
              <p>Withdraw money from select Surraf agents in all supported currencies.</p>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide>
      <ion-grid>
        <ion-row>
          <ion-col>
            <lottie-animation-view [options]="history"></lottie-animation-view>
          </ion-col>
        </ion-row>
        <ion-row class="info">
          <ion-col>
            <div>
              <h2>Account analytics</h2>
              <p>Get realtime information pertinent to your Surraf accounts, anytime, anywhere.</p>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
  </ion-slides>
  <button ion-button outline color="dark" (click)="skip()" id="skip">{{ skipMsg }}</button>
</ion-content>
