page-intro {
  .scroll-content {
    display: flex;
    justify-content: center;
    background-color: #EFEFEF;
  }
  .info {
    padding-bottom: 40%;
  }
  h2 {
    font-weight: bold;
    font-size: 1em;
  }
  p {
    width: 85%;
    display: block;
    margin: 0 auto;
    font-size: .9em;
  }
  .swiper-pagination-bullet-active {
    background: #C400FF;
  }
  .swiper-pagination {
    bottom: 12% !important;
  }
  #skip {
    position: absolute;
    bottom: 10px;
    text-align: center;
    cursor: pointer;
    z-index: 5;
  }
}
