page-transfers {
  .accu-currency {
    margin: 8px 0 0 10px;
    background-color: rgba(153, 153, 153, 0.3) !important;
    box-shadow: inset 0 0 1px rgba(153, 153, 153, 0.5);
    font-size: 13px;
    padding-left: 0;
    width: 93%;
    border-radius: 3px;
    padding-left: 5px;
  }
  .accu-currency:last-child {
    border-bottom: none !important;
  }
  .with-search .item-inner {
    padding-right: 0 !important;
  }
  ion-label,
  ion-select {
    font-size: 14px !important;
    color: #242424 !important;
  }
  ion-label {
    margin: 13px 8px 0px 0 !important;
  }
  .p10-l {
    padding-left: 10px;
  }
  .btn-search {
    padding: 21px !important;
    margin: 0 1px !important;
    color: #959595;
  }
  .icon-search {
    font-weight: bold;
  }
  .txn-summary {
    padding-left: 0px;
    padding: 2px 3px 0 2px;
  }
  .txn-summary .item-inner {
    padding: 0 !important;
  }
  .txn-summary ion-label {
    margin: 0 !important;
  }
  .txn-summary ion-card {
    border-radius: 10px !important;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.12) !important;
  }
  .fx-rate,
  .amt-rec {
    font-weight: bold;
  }
  .fx-rate {
    color: red;
  }
  .amt-rec {
    color: limegreen;
  }
  .btn-transact {
    padding: 0 13px 0 12px;
  }
}
