<ion-header>
  <ion-navbar color="primary-dark">
    <ion-title>Send Money</ion-title>
    <ion-buttons end>
      <button ion-button icon-only class="notify">
        <ion-icon name="md-notifications">
          <ion-badge color="danger" class="notifications-badge">0</ion-badge>
        </ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-list no-lines>
    <form [formGroup]="transferForm">
      <ion-item class="p10-l">
        <ion-label>Select Sending Account</ion-label>
        <ion-select formControlName="SendAcc" [(ngModel)]="myAcc" (ionChange)="activateAmount(myAcc)">
          <ion-option *ngFor="let acc of accounts" [value]="acc.accountID">{{acc.Name}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item class="accu-currency">
        <ion-input clearInput formControlName="SendAmt" type="text" placeholder="Enter amount to transfer" (focusout)="checkAmt()"></ion-input>
      </ion-item>
      <ion-item class="p10-l">
        <ion-label>Search Recipient</ion-label>
      </ion-item>
      <ion-item class="accu-currency with-search">
        <ion-input formControlName="RecAccEmail" type="email" placeholder="Search recipient's email"></ion-input>
        <button ion-button item-right ion-button color="light" icon-only (click)="getAccounts()" class="btn-search">
          <ion-icon name="ios-search" class="icon-search"></ion-icon>
        </button>
      </ion-item>
      <div>
        <ion-item class="p10-l">
          <ion-label>Receiving Account</ion-label>
        </ion-item>
        <ion-item class="accu-currency">
          <ion-input formControlName="RecAccName" type="text" placeholder="Receiving account name"></ion-input>
        </ion-item>
      </div>
      <ion-item class="txn-summary">
        <ion-card>
          <ion-card-header class="center">
            Transaction Info
          </ion-card-header>
          <ion-card-content>
            <p>FX Rate:
              <span class="fx-rate">{{sendC}} {{fxRate}} = 1 {{receiveC}}</span>
            </p>
            <p>To be Received:
              <span class="amt-rec"> {{receiveC}} {{recAmt}}</span>
            </p>
          </ion-card-content>
        </ion-card>
      </ion-item>
      <div class="btn-transact">
        <button ion-button block outline color="primary" (click)="sendMoney()">
          Send Money
        </button>
      </div>
    </form>
  </ion-list>

</ion-content>
