page-password {
  p {
    font-weight: bold;
    color: rgba(255, 255, 255, 0.70);
  }
  .scroll-content {
    background: linear-gradient(to bottom, #75415b 0%, #2d1f51 100%);
  }
  .lf-container .accu-input {
    background-color: rgba(255, 255, 255, 0.8);
  }
  .accu-input ion-input {
    color: #3B3C36 !important; //background-color: #7300a5; 
    border-left: 1px solid rgba(53, 56, 57, 0.1) !important;
  }
  .accu-input ion-icon {
    color: rgba(53, 56, 57, .75) !important;
  }
}
