<ion-header>
  <ion-navbar color="regbar">
    <ion-buttons left>
      <button ion-button icon-only (click)="viewCtrl.dismiss()" class="btn-back">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      <span class="page-title">Password</span>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="lf-container m-top0">
    <ion-list>

      <form [formGroup]="pwForm">
        <p class="center">Enter the Sarraf One Time Pin sent to you via SMS below and set your Account Password to complete your registration.</p>
        <ion-item class="accu-input">
          <ion-icon name="ios-send-outline" item-start></ion-icon>
          <ion-input formControlName="pin" type="text" placeholder="Activation PIN"></ion-input>
        </ion-item>

        <ion-item class="accu-input">
          <ion-icon name="ios-finger-print-outline" item-start></ion-icon>
          <ion-input formControlName="password" type="password" placeholder="Password"></ion-input>
        </ion-item>

        <ion-item class="accu-input">
          <ion-icon name="ios-finger-print-outline" item-start></ion-icon>
          <ion-input formControlName="cpassword" type="password" placeholder="Confirm Password" (keyup.enter)="verify()"></ion-input>
        </ion-item>
      </form>
    </ion-list>
    <button ion-button block outline color="light" (click)="verify()">Complete Registration</button>
  </div>
</ion-content>
