<ion-header>
  <ion-navbar color="primary-dark">
    <ion-buttons left>
      <button ion-button icon-only (click)="viewCtrl.dismiss()" class="btn-back">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{ action }} Account</ion-title>
    <ion-buttons end>
      <button ion-button icon-only *ngIf="canDelete" (click)="delete()">
        <ion-icon name="trash"></ion-icon>
      </button>
      <button ion-button icon-only class="notify">
        <ion-icon name="md-notifications">
          <ion-badge color="danger" class="notifications-badge">0</ion-badge>
        </ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list inset>
    <form [formGroup]="accForm">
      <ion-item class="no-padding select-margin-top">
        <ion-label>Account Currency</ion-label>
        <ion-select formControlName="currency">
          <ion-option value="KES">KES</ion-option>
          <ion-option value="USD">USD</ion-option>
          <ion-option value="GBP">GBP</ion-option>
          <ion-option value="EUR">EUR</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label floating>Account Number</ion-label>
        <ion-input formControlName="number" type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Account Name</ion-label>
        <ion-input formControlName="name" type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>New PIN</ion-label>
        <ion-input formControlName="pin" type="password"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Confirm New PIN</ion-label>
        <ion-input formControlName="cpin" type="password"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Account Description</ion-label>
        <ion-input formControlName="desc" type="text" (keyup.enter)="saveAccount()"></ion-input>
      </ion-item>
      <div class="btn-add">
        <button ion-button block outline color="dark" (click)="saveAccount()">Save Account</button>
      </div>
    </form>
  </ion-list>
</ion-content>
