<div style="margin-top: 60px;">
  <ion-card style="max-height: 410px; overflow: scroll;">
    <ion-card-header style="padding: 2px">
      <ion-toolbar>
        <ion-searchbar #mainSearchbar (ionInput)="filterTelcos($event)"></ion-searchbar>
      </ion-toolbar>
    </ion-card-header>
    <ion-card-content>
      <ion-list scroll="true" *ngFor='let telco of telcosFiltered'>
        <button ion-item (click)="selectTelco(telco.telcoid, telco.telconame)">
          {{telco.telconame}}
        </button>
      </ion-list>
    </ion-card-content>
  </ion-card>
</div>
